body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #111111;
  color: #ffffff;
}

body.bodyIndex {
  overflow: auto;
  margin: 20;
}


h1 {
  #max-width: 80%;
  font-family: Arial, "Times New Roman", serif;
  font-size: clamp(1.85rem, 8vw, 3.5rem);
  font-weight: 600;
  line-height: 1.05;
}

h2 {
  font-family: Arial, Helvetica, serif;
  font-size: clamp(1.85rem, 8vw, 2.5rem);
  font-weight: 500;
  line-height: 1.05;
}

a:link, a:visited {
  color: #EEEEEE;
}
